<div class="viewHeader">
    <span class="viewTitle">About</span>
</div>

<div class="card">
    <img src="img/dudes.jpg" alt="dudes" />
    <div class="content">
        <p>Ted and Greg are University of Delaware alumni who used to row and also happen to be web developers.
        They got tired of downloading PDFs and taking pictures of bulletin boards to get results on race day.
        This is the second year they've worked on this little project to get results to spectators (and rowers) as quickly and easily as possible, pro bono.oogl</p>
        <p>Questions? Comments? <a href="mailto:dadvail@mandibleweb.com">Shoot us an email</a>.</p>
        <p>Credits: Results from <a href="http://dadvail.org">DadVail.org</a> and oar images from <a href="http://oarspotter.com">OarSpotter.com</a></p>
    </div>
</div>