<div class="viewHeader">
    <span class="viewTitle">{{university.name}}</span>
</div>
<ul>
    <li ng-repeat="event in university.events">
        <div class="listHeader">{{event.name}}</div>
        <ul class="list">
            <li ng-repeat="type in event.race_types" style="border-bottom:none">
                <ul>
                    <li ng-repeat="race in type.races">
                        <a href="#/events/{{race.event_id}}/races/{{race.id}}/{{university.id}}"><b>{{race.type_name}} <span ng-show="race.type < 3">{{race.event_type_index}}</span></b>
                            <span class="eventTime">{{race.timestamp | date:'H:mm'}}</span>
                            <span class="eventNote smallCaps">
                                <span ng-show="race.advancement">{{race.advancement}}</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>