@import "global.less";

body, html {
    padding: 0;
    margin: 0;
    font-family: @fontStack;
    font-weight: @fontWeight;
    font-size: @fontSize;
    background: #e5e5e5;
    height: 100%;
}

.listHeader {
    text-transform: uppercase;
    color: #aaa;
    font-size: 12px;
    padding: 5px 0;
}

.loading {
    background-image:  url(../img/loader.gif);
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

    &.list {
        background: white;
        border-radius: @borderRadius;
        margin-bottom: 10px;

        li {
            border-bottom: 1px solid #eee;

            &.muted {
                background: #f5f5f5;
                color: #aaa;
                min-height: 39px;
            }

            &:first-child {
                border-top-left-radius: @borderRadius;
                border-top-right-radius: @borderRadius;
            }

            &:last-child {
                border-bottom-left-radius: @borderRadius;
                border-bottom-right-radius: @borderRadius;
            }
            
            a, .placeholder {
                padding: 10px;
                display: block;
                -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

                .smallCaps {
                    font-size: 11px;
                    text-transform: uppercase;
                }

                .positioning {
                    float: left;
                    width: 25%;
                    box-sizing: border-box;

                    .place {
                        font-size: 20px;
                        font-weight: bold;
                    }

                    .time {
                        font-size: 12px;
                        display: block;
                    }
                }

                .details {
                    float:left;

                    .university {
                        margin: 3px 0;
                        display: block;
                        
                    }
                    
                    .lane {
                        display: block;
                        font-size: 12px;
                        text-transform: uppercase;
                    }
                }

                .blade {
                    width: 40px;
                    float: right;
                    margin-top: 8px;
                    height: 24px;
                    background-size: cover;
                }

                .eventNote {
                    @media @phone {
                        display: block;
                    }
                }

                @media @phone {
                    .detailLine {
                        display: block;
                    }
                }

                .eventTime {
                    float: right;
                }
            }

            .placeholder {
                margin-left: 25%;
                padding: 10px 5px;    
            }

            a:active {
                background: @linkColor;
                color: white;
            }
        }
    }
}

.group {
    &.left {
        width: 50%;
        float: left;
        box-sizing: border-box;
        padding-right: 20px;

        @media @phone {
            width: auto; padding-right: inherit; float: none;
        }
    }

    &.right {
        width: 50%;
        float: right;

        @media @phone {
            width: auto; float: none;
        }
    }
}

.viewHeader {
    padding: 15px 0 10px 0;

    .viewTitle {
        font-size: 24px;
        font-weight: 200;
    }
}

.eventID {
    font-weight: bold;
}

.eventFilter {
    padding: 10px;
}

input[type=text] {
    border: none;
    padding: 10px;
    margin: 0;
    font-family: @fontStack;
    font-weight: @fontWeight;
    font-size: @fontSize;
    background: #e5e5e5;
    border-radius: @borderRadius;
    box-sizing: border-box;
    width: 100%;

    &:focus {
        outline: none;
    }
}

a {
    color: @linkColor;
    text-decoration: none;
}

.container {
    width: 1024px;
    margin: 0 auto;

    @media @tablet {
        width:auto; padding: 0 10px;
    }

    @media @phone {
        width:auto; padding: 0 10px;
    }
}

header {
    background: #222;

    .siteTitle {
        font-size: 20px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        padding: 5px 10px;
        display: inline-block;

        @media @phone {
            padding-left:0; padding-right:0;
        }
    }
}

button.btn, a.btn {
    border: none;
    margin: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    outline: none;
    padding: 0 0;
    display: inline-block;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    padding: 10px 15px;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=1);
    color: white;
    font-family: @fontStack;
    border-radius: @borderRadius;

    &.selected {
        background: #0099cc;
    }

    &.btn-muted {
        background: #aaa;
    }
}

.clearfix {
    display: block;
    clear: both;
}

.reloadButton {
    float: right;
    margin-top: 2px;

    @media @phone {
        float:none; margin-top:10px; .btn {
            width: 100%;
        }
    }
}

.actions {
    padding: 0 0 10px 0;
}

.content {
    min-height: 250px;
}
