body,
html {
  padding: 0;
  margin: 0;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: #e5e5e5;
}
.listHeader {
  text-transform: uppercase;
  color: #aaa;
  font-size: 12px;
  padding: 5px 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.list {
  background: white;
  border-radius: 3px;
  margin-bottom: 10px;
}
ul.list li {
  border-bottom: 1px solid #eee;
}
ul.list li.muted {
  background: #f5f5f5;
  color: #aaa;
  min-height: 39px;
}
ul.list li:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
ul.list li:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
ul.list li a,
ul.list li .placeholder {
  padding: 10px;
  display: block;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
ul.list li a .smallCaps,
ul.list li .placeholder .smallCaps {
  font-size: 11px;
  text-transform: uppercase;
}
@media only screen and (max-width:500px) and (orientation:portrait), only screen and (max-height:500px) and (orientation:landscape) {
  ul.list li a .eventNote,
  ul.list li .placeholder .eventNote {
    display: block;
  }
}
@media only screen and (max-width:500px) and (orientation:portrait), only screen and (max-height:500px) and (orientation:landscape) {
  ul.list li a .detailLine,
  ul.list li .placeholder .detailLine {
    display: block;
  }
}
ul.list li a .eventTime,
ul.list li .placeholder .eventTime {
  float: right;
}
ul.list li a .blade,
ul.list li .placeholder .blade {
  width: 40px;
  height: 24px;
  float: left;
  margin-right: 10px;
  margin-top: 1px;
}
ul.list li a .details,
ul.list li .placeholder .details {
  float: left;
}
ul.list li .placeholder {
  margin-left: 50px;
}
ul.list li a:active {
  background: #4385f5;
  color: white;
}
.dayLeft {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
}
@media only screen and (max-width:500px) and (orientation:portrait), only screen and (max-height:500px) and (orientation:landscape) {
  .dayLeft {
    width: auto;
    padding-right: inherit;
    float: none;
  }
}
.dayRight {
  width: 50%;
  float: right;
}
@media only screen and (max-width:500px) and (orientation:portrait), only screen and (max-height:500px) and (orientation:landscape) {
  .dayRight {
    width: auto;
    float: none;
  }
}
.viewHeader {
  padding: 15px 0 10px 0;
}
.viewHeader .viewTitle {
  font-size: 24px;
  font-weight: 200;
}
.eventID {
  font-weight: bold;
}
.eventFilter {
  padding: 10px;
}
input[type=text] {
  border: none;
  padding: 10px;
  margin: 0;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: #e5e5e5;
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
}
input[type=text]:focus {
  outline: none;
}
a {
  color: #4385f5;
  text-decoration: none;
}
.container {
  width: 1024px;
  margin: 0 auto;
}
@media only screen and (min-width:501px) and (max-width:999px) {
  .container {
    width: auto;
    padding: 0 10px;
  }
}
@media only screen and (max-width:500px) and (orientation:portrait), only screen and (max-height:500px) and (orientation:landscape) {
  .container {
    width: auto;
    padding: 0 10px;
  }
}
header {
  background: #222;
}
header .siteTitle {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  display: inline-block;
}
@media only screen and (max-width:500px) and (orientation:portrait), only screen and (max-height:500px) and (orientation:landscape) {
  header .siteTitle {
    padding-left: 0;
    padding-right: 0;
  }
}
button {
  background: #666;
  border: 1px solid #444;
  color: white;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  border-radius: 3px;
}
button.selected {
  background: #0099cc;
}
.clearfix {
  display: block;
  clear: both;
}
.reloadButton {
  float: right;
  margin-top: 2px;
}
