.b {
  background: url(../img/blades.png) no-repeat top left;
  background-size: 172px;
  display: block;
  width: 40px;
  height: 24px;
}
.b-1 {
  background-position: 0px 0px;
}
.b-10 {
  background-position: 0px -28px;
}
.b-100 {
  background-position: 0px -56px;
}
.b-101 {
  background-position: 0px -84px;
}
.b-102 {
  background-position: 0px -112px;
}
.b-103 {
  background-position: 0px -140px;
}
.b-104 {
  background-position: 0px -168px;
}
.b-105 {
  background-position: 0px -196px;
}
.b-106 {
  background-position: 0px -224px;
}
.b-107 {
  background-position: 0px -252px;
}
.b-108 {
  background-position: 0px -280px;
}
.b-109 {
  background-position: 0px -308px;
}
.b-11 {
  background-position: 0px -336px;
}
.b-110 {
  background-position: 0px -364px;
}
.b-111 {
  background-position: 0px -392px;
}
.b-112 {
  background-position: 0px -420px;
}
.b-113 {
  background-position: 0px -448px;
}
.b-114 {
  background-position: 0px -476px;
}
.b-115 {
  background-position: 0px -504px;
}
.b-116 {
  background-position: 0px -532px;
}
.b-117 {
  background-position: 0px -560px;
}
.b-118 {
  background-position: 0px -588px;
}
.b-119 {
  background-position: 0px -616px;
}
.b-12 {
  background-position: 0px -644px;
}
.b-120 {
  background-position: 0px -672px;
}
.b-121 {
  background-position: 0px -700px;
}
.b-122 {
  background-position: 0px -728px;
}
.b-123 {
  background-position: 0px -756px;
}
.b-124 {
  background-position: 0px -784px;
}
.b-125 {
  background-position: 0px -812px;
}
.b-13 {
  background-position: 0px -840px;
}
.b-14 {
  background-position: 0px -868px;
}
.b-15 {
  background-position: 0px -896px;
}
.b-16 {
  background-position: 0px -924px;
}
.b-17 {
  background-position: 0px -952px;
}
.b-18 {
  background-position: 0px -980px;
}
.b-19 {
  background-position: -44px 0px;
}
.b-2 {
  background-position: -44px -28px;
}
.b-20 {
  background-position: -44px -56px;
}
.b-21 {
  background-position: -44px -84px;
}
.b-22 {
  background-position: -44px -112px;
}
.b-23 {
  background-position: -44px -140px;
}
.b-24 {
  background-position: -44px -168px;
}
.b-25 {
  background-position: -44px -196px;
}
.b-26 {
  background-position: -44px -224px;
}
.b-27 {
  background-position: -44px -252px;
}
.b-28 {
  background-position: -44px -280px;
}
.b-29 {
  background-position: -44px -308px;
}
.b-3 {
  background-position: -44px -336px;
}
.b-30 {
  background-position: -44px -364px;
}
.b-31 {
  background-position: -44px -392px;
}
.b-32 {
  background-position: -44px -420px;
}
.b-33 {
  background-position: -44px -448px;
}
.b-34 {
  background-position: -44px -476px;
}
.b-35 {
  background-position: -44px -504px;
}
.b-36 {
  background-position: -44px -532px;
}
.b-37 {
  background-position: -44px -560px;
}
.b-38 {
  background-position: -44px -588px;
}
.b-39 {
  background-position: -44px -616px;
}
.b-4 {
  background-position: -44px -644px;
}
.b-40 {
  background-position: -44px -672px;
}
.b-41 {
  background-position: -44px -700px;
}
.b-42 {
  background-position: -44px -728px;
}
.b-43 {
  background-position: -44px -756px;
}
.b-44 {
  background-position: -44px -784px;
}
.b-45 {
  background-position: -44px -812px;
}
.b-46 {
  background-position: -44px -840px;
}
.b-48 {
  background-position: -44px -868px;
}
.b-49 {
  background-position: -44px -896px;
}
.b-5 {
  background-position: -44px -924px;
}
.b-50 {
  background-position: -44px -952px;
}
.b-51 {
  background-position: -44px -980px;
}
.b-53 {
  background-position: -88px 0px;
}
.b-54 {
  background-position: -88px -28px;
}
.b-55 {
  background-position: -88px -56px;
}
.b-56 {
  background-position: -88px -84px;
}
.b-57 {
  background-position: -88px -112px;
}
.b-58 {
  background-position: -88px -140px;
}
.b-59 {
  background-position: -88px -168px;
}
.b-6 {
  background-position: -88px -196px;
}
.b-60 {
  background-position: -88px -224px;
}
.b-61 {
  background-position: -88px -252px;
}
.b-62 {
  background-position: -88px -280px;
}
.b-63 {
  background-position: -88px -308px;
}
.b-64 {
  background-position: -88px -336px;
}
.b-65 {
  background-position: -88px -364px;
}
.b-66 {
  background-position: -88px -392px;
}
.b-67 {
  background-position: -88px -420px;
}
.b-68 {
  background-position: -88px -448px;
}
.b-69 {
  background-position: -88px -476px;
}
.b-7 {
  background-position: -88px -504px;
}
.b-70 {
  background-position: -88px -532px;
}
.b-71 {
  background-position: -88px -560px;
}
.b-72 {
  background-position: -88px -588px;
}
.b-73 {
  background-position: -88px -616px;
}
.b-74 {
  background-position: -88px -644px;
}
.b-75 {
  background-position: -88px -672px;
}
.b-76 {
  background-position: -88px -700px;
}
.b-77 {
  background-position: -88px -728px;
}
.b-78 {
  background-position: -88px -756px;
}
.b-79 {
  background-position: -88px -784px;
}
.b-8 {
  background-position: -88px -812px;
}
.b-80 {
  background-position: -88px -840px;
}
.b-81 {
  background-position: -88px -868px;
}
.b-82 {
  background-position: -88px -896px;
}
.b-83 {
  background-position: -88px -924px;
}
.b-84 {
  background-position: -88px -952px;
}
.b-85 {
  background-position: -88px -980px;
}
.b-86 {
  background-position: -132px 0px;
}
.b-87 {
  background-position: -132px -28px;
}
.b-88 {
  background-position: -132px -56px;
}
.b-89 {
  background-position: -132px -84px;
}
.b-9 {
  background-position: -132px -112px;
}
.b-90 {
  background-position: -132px -140px;
}
.b-91 {
  background-position: -132px -168px;
}
.b-92 {
  background-position: -132px -196px;
}
.b-93 {
  background-position: -132px -224px;
}
.b-94 {
  background-position: -132px -252px;
}
.b-95 {
  background-position: -132px -280px;
}
.b-96 {
  background-position: -132px -308px;
}
.b-97 {
  background-position: -132px -336px;
}
.b-99 {
  background-position: -132px -364px;
}
